@import '../../../node_modules/tachyons/css/tachyons.css';
@import url('https://fonts.googleapis.com/css?family=Lato');

$subs-blue: #0077FF;
$subs-blue-darker: #212943;

body {
  font-family: 'Lato', sans-serif;
}

.mh3-5 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.mv3-5 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mt3-5 {
  margin-top: 1.5rem;
}

.pa3-5 {
  padding: 1.5rem;
}

.ph3-5 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.subs-blue { color: $subs-blue }
.subs-blue-darker { color: $subs-blue-darker }
.bg-subs-blue { background: $subs-blue }
.bg-subs-blue-darker { background: $subs-blue-darker }

.logo {
  width: 70px;
  height: 70px;
  background: url('../images/dollar.svg');
}
