@import '../../../node_modules/tachyons/css/tachyons.css';

$subs-pink: #E35077;
$subs-pink-darker: #BC274E;

body {
  font-family: sans-serif;
}

.subs-pink { color: $subs-pink }
.subs-pink-darker { color: $subs-pink-darker }

.logo {
  width: 70px;
  height: 70px;
  background: url('../images/dollar.svg');
}
